{% extends "bootstrap/layouts/base_navbar_responsive.html" %}

{% block js_footer %}
<!-- TODO: use FileSaver: https://github.com/eligrey/FileSaver.js#saving-text -->
<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
<script>
$(document).ready(function() {

    /*var WebTorrent = require('webtorrent') */

    var client = new WebTorrent();

    var torrentId = '{{ upload.get_torrent().get_magnet_link() }}';

    client.add(torrentId, function (torrent) {
      $("#status").html("Download finished! You should see the file below");

      // Torrents can contain many files. Let's use the first.
      var file = torrent.files[0];

      // Display the file by adding it to the DOM. Supports video, audio, image, etc. files
      file.appendTo('body');

      alert("Done!");
    });

    var checkProgress = function() {
        console.log("polling...");
        var progress = 0;
        if (client.torrents[0]) {
            progress = client.torrents[0].progress;
            $("#progress_pct").html(progress * 100);

            var swarm = client.torrents[0].swarm;
            if (swarm) {
                $("#peer_count").html(swarm.wires.length);
            }
        }
        if(progress != 1) {
            setTimeout(checkProgress, 10000);
        }
    };

    checkProgress();
});
</script>
{% endblock %}

{% block content %}
<div id="status">
    <p>THIS DOESN'T WORK because files aren't being seeded using a WebTorrent peer.</p>
    <p>Downloading {{ upload.structured_file_name }}, please wait, this could take a few mins. The file should appear in this window when it's done.</p>
    <p>Progress: <span id="progress_pct">0</span>%</p>
    <p># of peer connections: <span id="peer_count">0</span></p>
</div>

{% endblock %}
